{% extends "houseman/base.html" %}

{% block title %}Matt's Room{% endblock %}

{% block content %}
<div class="content_box">
    {% if appliance_list %}
            <ul class="main_list">
            {% for appliance in appliance_list %}
                <li>
                    <div class="list_float">{{ appliance.name }}</div>
                    <input type="checkbox" name="{{ appliance.id }}" id="appliance{{ forloop.counter }}" class="ios_checkbox" {% if appliance.state %} checked="checked" {% endif %}>
                    <label for="appliance{{ forloop.counter }}"></label>               
                </li>
            {% endfor %}
            </ul>
        </form>
    {% else %}
        <p>No polls are available.</p>
    {% endif %}
</div>
{% endblock %}
