body
{
    font-family: Verdana, Geneva, sans-serif;
}

.content_box
{
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
}

.main_list
{
    list-style: none;
    padding: 0;
}

.main_list > li
{
    margin: 5px 0;
    overflow: auto;
    /*text-align: center;*/
}

.main_list > li > a
{
    padding: 5px 2px;
    background-color: #BFBFBF;
    display: block;
}

.list_float
{
    float: left;
    clear: left;
    margin: 20px;
}

/*--------------------------------------------*/
/* Resets  */
/*--------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
font-size: 100%;
line-height: normal;
margin: 0;
padding: 0;
border: 0;
outline: 0;
vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
display: block;
}

table { border-collapse: collapse; border-spacing: 0; }


/*------------------------------------------------*/
/* Main Layout SECTION START*/
/*------------------------------------------------*/
html { -webkit-text-size-adjust:none; margin: 0px; padding: 0px; }
body { font-size: 62.5%; }

body {
font-family: Helvetica, Arial, Verdana, sans-serif;
color: #666;
padding: 0px;
margin: 0px;
}

#MainContainer { 
position: relative;
width: 500px;
margin: 100px auto 200px auto;
text-align: center;
}

h1 {
color: #333;
font-size: 2.1em;
}

p {
color: #999;
font-size: 1.5em;
line-height: 1.2em;
margin: 15px;
}

.victorknust { 
	font-size: 11px;
	text-align: center;
	position: fixed;
	bottom:20px;
	right: 50px;
}

a:link, a:visited, a:active {
color: #1c98a0;
text-decoration: none;
padding: 1px;
}

a:hover {
color: #fff;
background: #1c98a0;
}

hr {
height: 1px;
color: #ececec;
background: #ececec;
border: 0px solid #ececec;
margin: 10px 0px 40px 0px;
}


/*------------------------------------------------*/
/* Switch SECTION START*/
/*------------------------------------------------*/
.Switch {
position: relative;
display: inline-block;
font-size: 1.6em;
font-weight: bold;
color: #ccc;
text-shadow: 0px 1px 1px rgba(255,255,255,0.8);
height: 18px;
padding: 6px 6px 5px 6px;
border: 1px solid #ccc;
border: 1px solid rgba(0,0,0,0.2);
border-radius: 4px;
background: #ececec;
box-shadow: 0px 0px 4px rgba(0,0,0,0.1), inset 0px 1px 3px 0px rgba(0,0,0,0.1);
cursor: pointer;
}

body.IE7 .Switch { width: 78px; }

.Switch span { display: inline-block; width: 35px; }
.Switch span.On { color: #33d2da; }

.Switch .Toggle {
position: absolute;
top: 1px;
width: 37px;
height: 25px;
border: 1px solid #ccc;
border: 1px solid rgba(0,0,0,0.3);
border-radius: 4px;
background: #fff;
background: -moz-linear-gradient(top,  #ececec 0%, #ffffff 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ececec), color-stop(100%,#ffffff));
background: -webkit-linear-gradient(top,  #ececec 0%,#ffffff 100%);
background: -o-linear-gradient(top,  #ececec 0%,#ffffff 100%);
background: -ms-linear-gradient(top,  #ececec 0%,#ffffff 100%);
background: linear-gradient(top,  #ececec 0%,#ffffff 100%);

box-shadow: inset 0px 1px 0px 0px rgba(255,255,255,0.5);
z-index: 999;

-webkit-transition: all 0.15s ease-in-out;
-moz-transition: all 0.15s ease-in-out;
-o-transition: all 0.15s ease-in-out;
-ms-transition: all 0.15s ease-in-out;
}

.Switch.On .Toggle { left: 54%; }
.Switch.Off .Toggle { left: 2%; }


/* Round Switch */
.Switch.Round {
padding: 0px 20px;
border-radius: 40px;
}

body.IE7 .Switch.Round { width: 1px; }

.Switch.Round .Toggle {
border-radius: 40px;
width: 14px;
height: 14px;
}

.Switch.Round.On .Toggle { left: 3%; background: #33d2da; }
.Switch.Round.Off .Toggle { left: 58%; }
